{% set attributes = attributes|default(create_attribute()) %}

{% if items|length > 1 %}
  <ul{{ attributes.addClass('fr-badge-group') }}>
    {% for item in items %}
      <li>
        {{ include('dsfr4drupal:badge', item, with_context=false) }}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <div{{ attributes.addClass('fr-badge-group') }}>
    {% for item in items %}
      {{ include('dsfr4drupal:badge', item, with_context=false) }}
    {% endfor %}
  </div>
{% endif %}
