{% set attributes = attributes.addClass('diff', 'not-prose') %}

<div {{ attributes }}>
  <div class="diff-item-1">
    {{ item_1 }}
  </div>
  <div class="diff-item-2">
    {{ item_2 }}
  </div>
  <div class="diff-resizer"></div>
</div>
